[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"fhir.resources" = "*"
jsonpickle = "*"
watchdog = "*"
xmltodict = "*"
dbfread = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_full_version = "3.11.2"
